<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav th:fragment="navbar">
    <a href="/">🏠 홈</a> |
    <a href="/posts">📋 게시글 목록</a> |
    <a href="/posts/new">✍ 글쓰기</a> |

    <!-- 로그인하지 않은 경우만 보이게 -->
    <span sec:authorize="!isAuthenticated()">
        <a href="/user/login">👤 로그인</a> |
        <a href="/user/signup">📝 회원가입</a>
    </span>

    <!-- 로그인한 경우만 보이게 -->
    <span sec:authorize="isAuthenticated()">
        <span th:text="${#authentication.principal.nickname}"></span> 님 | <!--닉네임꺼내오기-->
        <!-- logout은 POST 방식이어야 함 -->
        <form th:action="@{/user/logout}" method="post" style="display:inline;">
            <button type="submit">🚪 로그아웃</button>
        </form>
    </span>
</nav>
<hr>
</body>
</html>
